<table border="1"
       cellpadding="10px"
       cellspacing="10px"
       align="center"
       style="font-size: 20px">
       <thead style="background-color: rosybrown">
            <tr>
                <th>SNO</th>
                <th>Name</th>
                <th>Capital</th>
                <th>Code</th>
                <th>Flag</th>
            </tr>
       </thead>
       <tbody>
            <tr *ngFor="let x of result;let i=index">
                <td>{{i+1}}</td>
                <td>{{x.name}}</td>
                <td>{{x.capital}}</td>
                <td>{{x.currencies[0].code}}</td>
                <td><img width="100px" 
                         height="50px" 
                         src="{{x.flag}}"></td>
            </tr>
       </tbody>
</table>
